.profileForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileEmail {
  color: #1a1b1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.btn {
  align-items: center;
  background-color: white;
  border-bottom: 0.5px solid #b1b1b1;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #797d86;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  justify-content: baseline;
  letter-spacing: 0.48px;
  line-height: normal;
  padding: 30px 0;
  text-transform: capitalize;
  width: 290px;
}

.iconBtn {
  margin-right: 35px;
}

.logoutBtn {
  border: none;
}
