.checked {
  text-decoration: line-through solid black;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;

}

.ingredients, .instructions {
  color: #1a1b1c;
  font-size: 20px;
  font-weight: 700;
  height: 21px;
  left: 24px;
  line-height: 21px;
  margin-top: 50px;
  text-align: left;
  top: 392px;
  width: 142.8px;
}

.ingredientsList {
  border: 0.55px solid #b1b1b1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  inline-size: auto;
  left: 14px;
  line-height: 25px;
  padding: 10px;
  text-align: left;
  top: 226px;
  width: 335px;
}

.instructionsText {
  border: 0.55px solid #b1b1b1;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  inline-size: auto;
  left: 14px;
  line-height: 25px;
  padding: 10px;
  text-align: left;
  top: 392px;
  width: 335px;
}

.recipeTitle {
  color: white;
  left: 50%;
  position: absolute;
  top: 65px;
  transform: translateX(-50%);
}

.recipeCategory {
  color: #fcc436;
  font-size: 18px;
  left: 65px;
  position: absolute;
  top: 18px;
}

.finishBtn {
  background-color: #fcc436;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  left: 13px;
  margin-top: 20px;
  top: 1137px;
  width: 336px;
}

.disabledBtn {
  background-color: #fcc436;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  left: 13px;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 0.5;
  top: 1137px;
  width: 336px;

}

.recipePhoto {
  height: 161.85px;
  object-fit: cover;
  opacity: 0.85;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.checkbox {
  align-items: center;
  display: flex;
}

.box {
  appearance: none;
  background-color: white;
  border: 0.15em solid #fcc436;
  border-radius: 0.15em;
  color: #fcc436;
  display: grid;
  font: inherit;
  height: 1.15em;
  margin: 0;
  margin-right: 10px;
  place-content: center;
  transform: translateY(-0.075em);
  width: 1.15em;
}

.box:checked {
  appearance: none;
  background-color: #fcc436;
  border: 0.15em solid #fcc436;
  border-radius: 0.15em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  color: #fcc436;
  display: grid;
  font: inherit;
  height: 1.15em;
  margin: 0;
  margin-right: 10px;
  place-content: center;
  transform: translateY(-0.075em);
  transform-origin: bottom left;
  width: 1.15em;
}
